/* Start Variables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* End Variables */
/* Start Display */
.d-block{
  display: block;
}
/* Start Flex */
.d-flex{
  display: flex;
}
.align-center{
  align-items: center;
}
.space-between{
  justify-content: space-between;
}
.f-wrap{
  flex-wrap: wrap;
}
/* End Flex */
/* Start Grid */
.d-grid{
  display: grid;
}
.gap-20{
  gap:20px;
}
/* End Grid */
@media(max-width:767px){
  .block-mobile{
    display: block;
  }
}
@media(max-width:767px){
  .hide-mobile{
    display: none;
  }
}
/* End Box */
/* Start Padding + Margin */
.p-10{
  padding: 10px;
}
.p-15{
  padding: 15px;
}
.p-20{
  padding: 20px;
}
.pt-10{
  padding-top: 10px;
}
.pt-15{
  padding-top: 15px;
}
.pt-20{
  padding-top: 20px;
}
.pb-10{
  padding-bottom: 10px;
}
.pb-15{
  padding-bottom: 15px;
}
.pb-20{
  padding-bottom: 20px;
}
.pb-25{
  padding-bottom: 25px;
}
.pb-30{
  padding-bottom: 30px;
}
.pl-15{
  padding-left: 15px;
}
.m-0{
  margin: 0;
}
.m-15{
  margin: 15px;
}
.m-20{
  margin: 20px;
}
.mt-0{
  margin-top: 0;
}
.mt-5{
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}
.mt-15{
  margin-top: 15px;
}
.mt-20{
  margin-top: 20px;
}
.mt-25{
  margin-top: 25px;
}
.mr-8{
  margin-right: 8px;
}
.mr-10{
  margin-right: 10px;
}
.mr-15{
  margin-right: 15px;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-6{
  margin-bottom: 6px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-25{
  margin-bottom: 25px;
}
.ml-10{
  margin-left: 10px;
}
/* End Padding + Margin */
/* Start Color */
.bg-white{
  background-color: white;
}
.bg-eee{
  background-color: #eee;
}
.bg-blue{
background-color: var(--blue-color);
}
.c-black{
  color: black;
}
.c-white{
  color: white;
}
.bg-grey{
  background-color: var(--grey-color);
}
.c-grey{
  color: var(--grey-color);
}
.c-blue{
  color: var(--blue-color);
}
.bg-orange{
  background-color: #f59e0b;
}
.c-orange{
  color: #f59e0b;
}
.bg-green{
  background-color: #22c55e;
}
.c-green{
  color: #22c55e;
}
.bg-red{
  background-color: var(--red-color);
}
.c-red{
  color: var(--red-color);
}
/* End Color */
/* Start Position */
.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
/* End Position */
/* Start Font */
.txt-c{
  text-align: center;
}
.fw-bold{
  font-weight: bold;
}
@media(max-width:767px){
  .txt-c-mobile{
    text-align: center;
  }
}
.fs-13{
  font-size: 13px;
}
.fs-14{
  font-size: 14px;
}
.fs-15{
  font-size: 15px;
}
.fs-16{
  font-size: 16px;
}
.fs-20{
  font-size: 20px;
}
.fs-25{
  font-size: 25px;
}

/* End Font */
/* Start Border */
.b-none{
  border: none;
}
.rad-6{
  border-radius: 6px;
}
.rad-10{
  border-radius: 10px;
}
.rad-half{
  border-radius: 50%;
}
.border-eee{
  border: 1px solid #eee;
}
/* End Border */
/* Start Width + Height */
.w-100{
  width: 100px;
}
.h-100{
  height: 100px;
}
.w-full{
  width: 100%;
}
@media(max-width:767px){
  .w-full-mobile{
    width: 100% !important; 
  }
}
.w-fit{
  width: fit-content;
}
.h-full{
  height: 100%;
}
.h-fit{
  height: fit-content;
}

/* End Width + Height */
/* Start Components */
.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.between-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* End Components */
